/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/style/main.scss ***!
  \******************************************************************************************************************************************/
html {
  inline-size: 100%;
  block-size: 100%;
}

body {
  inline-size: 100%;
  block-size: 100%;
  position: relative;
}

#canvas {
  inline-size: 100%;
  block-size: 100%;
}

#apollonian-gasket header {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.3);
  width: 100vw;
  padding-left: 20px;
  z-index: 100;
}
#apollonian-gasket header h1 {
  color: #444444;
}
@media screen and (max-width: 1000px) {
  #apollonian-gasket header h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 7px;
  }
}
@media screen and (min-width: 1001px) {
  #apollonian-gasket header h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 7px;
  }
}

#controller {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: bold;
  color: gray;
  padding-left: 20px;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.3);
  width: 100vw;
}
@media screen and (max-width: 457px) {
  #controller .desktop-only {
    display: none;
  }
}
#controller button {
  margin: 5px;
  width: 3em;
  height: 30px;
  background-color: #efefef;
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 2px;
}
#controller button:hover {
  background-color: #ffdfdf;
}
#controller .left p {
  display: inline;
  line-height: 40px;
}
#controller .right {
  line-height: 40px;
}
#controller .right select {
  background-color: #efefef;
  height: 30px;
  margin-right: 40px;
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 2px;
}
